.Event{
    width: 300px;
    background-color: #5FD068;
    border: 1px solid black;
    margin-bottom: 50px;
    padding: 10px;
}

.Event:hover{
    box-shadow: 5px 5px 0px 0px;
}

.Event-Img{
    width: 300px;
    max-height: 300px;
    text-align: center;
}

.Button-Container{
    text-align: center;
}

.Details-Button{
    width: 150px;
    color: white;
    background-color: #185c70;
    font-size: 1.1em;
    text-decoration: none;
}

.Details-Button:hover{
    background-color: #5FD068;
    cursor: pointer;
}