.Event{
    width: 300px;
    background-color: #4B8673;
    border: 1px solid black;
    color: #F5DF99;
    margin-bottom: 50px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media only screen and (max-width: 800px) {
    .Event{
        width: 100%;
    }
}

.Event:hover{
    box-shadow: 2px 2px 0px 0px #185c70;

}

.event-img{
    width: 300px;
    max-height: 300px;
    text-align: center;
}

.Button-Container{
    text-align: center;
}

.Details-Button{
    width: 150px;
    color: white;
    background-color: #185c70;
    font-size: 1.1em;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
}

.Details-Button:hover{
    background-color: #5FD068;
    cursor: pointer;
}