.Navigation{
    background-color: #4B8673;
    padding-left: 20px;
    height: 50px;
    margin-bottom: 20px;
}

.Header{
    color: #F5DF99;
    font-family: 'Kdam Thmor Pro', sans-serif;
    margin: 0;
}